/StandAloneFramework/StandAloneFramework.sln.DotSettings.user
/StandAloneFramework/StandAloneFramework/StandAloneFramework/bin/Debug/StandAloneFramework.dll
/StandAloneFramework/StandAloneFramework/StandAloneFramework/bin/Debug/StandAloneFramework.pdb
/StandAloneFramework/StandAloneFramework/StandAloneFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StandAloneFramework/StandAloneFramework/StandAloneFramework/obj/Debug/StandAloneFramework.csproj.FileListAbsolute.txt
/StandAloneFramework/StandAloneFramework/StandAloneFramework/obj/Debug/StandAloneFramework.dll
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/bin/Debug/StandAloneFramework.dll
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/bin/Debug/StandAloneFramework.pdb
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/bin/Debug/StandAloneFrameworkTest.dll
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/bin/Debug/StandAloneFrameworkTest.pdb
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/obj/Debug/ResolveAssemblyReference.cache
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/obj/Debug/StandAloneFrameworkTest.csproj.FileListAbsolute.txt
/StandAloneFramework/StandAloneFramework/StandAloneFrameworkTest/obj/Debug/StandAloneFrameworkTest.pdb

StandAloneFramework/StandAloneFrameworkTest/obj/Debug/StandAloneFrameworkTest.dll
/StandAloneFramework/StandAloneFramework/bin
*.exe
*.pdb

*.manifest

*.dll

/StandAloneFramework/ConsoleApplication1/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
Debug
