<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDummyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://charles2-pc/DummyWCFService.Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDummyService"
                contract="ServiceReference1.IDummyService" name="BasicHttpBinding_IDummyService" />
        </client>
    </system.serviceModel>
</configuration>