@model MediaCentre.Models.Movie

@{
    ViewBag.Title = "Index";
}

<link type="text/css" rel="stylesheet" href="../../Content/Css/Site.css" />

@section scripts
{
    <script type="text/javascript" src="../../Content/Scripts/JQuery/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#test").bind("click", function () {
                $("#testTable").fadeToggle("slow");
            });
            
        });
    </script>
}

<table>
    <td colspan="2"></td><a href="#" id="test">@Model.Name</a>
    <tr>
        <td>
            <figure>
                <img src="@Model.ThumbnailPath" style="width: 140px; height: 240px;" alt=""/>
                <figcaption>Turbo 2013</figcaption>
            </figure>
        </td>
        <td style="vertical-align: top; padding-top: 10px;">
            @Html.Partial("MovieMetadata",Model)
        </td>
    </tr>
</table>



