@model MvcApplication1.Models.Movies

<h2>Movies</h2>
<div id="moviesContainer">        

    @foreach (var movie in @Model.MoviesList.GroupBy(x=>x.Genre))
    {
        if (movie.Key == "Animation")
        {
            
        }        
    }
</div>
