@model MvcApplication1.Models.MovieMetadata

<table style="width: auto">
    <tr>
        <td>Genre:</td>
        <td>@Html.DisplayFor(model => model.AudioCodec)</td>        
    </tr>
    <tr>
        <td>Year:</td>
        <td>@Html.DisplayFor(model => model.Duration)</td>
    </tr>
    <tr>
        <td>Director:</td>
        <td>@Html.DisplayFor(model => model.Format)</td>
    </tr>
    <tr>
        <td>Overview:</td>
        <td>@Html.DisplayFor(model => model.ScreenResolution)</td>
    </tr>    
</table>
