<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="juniorInterviewFile" value="junior.xml"/>
    <add key="intermediateInterviewFile" value="intermediate.xml"/>
    <add key="seniorInterviewFile" value="senior.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
